<div class="container mt-4">
    <h2>Smartphones</h2>

    <!--CARGANDO-->
    <p *ngIf="cargando" class="text-center mt-5"> 
        Cargando smartphones...
    </p>
    
    <!--SI NO HAY SMARTPHONES-->
    <p *ngIf="!haySmartphones" class="text-center mt-5"> 
        NO HAY SMARTPHONES DISPONIBLES :(
    </p>

    <!--SI HAY SMARTPHONES-->
    <div class="table-container">
        <table *ngIf="smartphones.length" class="mt-4 table table-striped">
            <thead>
                    <th>Nombre</th>
                    <th>Marca</th>
                    <th>Módelo</th>
                    <th>Color</th>
                    <th>Memoria RAM</th>
                    <th>Almacenamiento</th>
                    <th>Sistema Operativo</th>
                    <th>Procesador</th>
                    <th>Tasa de Refresco</th>
                    <th>Operaciones</th>
            </thead>
            <tbody>
                <tr *ngFor="let smartphone of smartphones; let i = index">
    
                <td>{{smartphone.nombre}}</td>
                <td>{{smartphone.marca}}</td>
                <td>{{smartphone.modelo}}</td>
                <td>{{smartphone.color}}</td>
                <td>{{smartphone.memoriaRAM}}</td>
                <td>{{smartphone.almacenamiento}}</td>
                <td>{{smartphone.sistemaOperativo}}</td>
                <td>{{smartphone.procesador}}</td>
                <td>{{smartphone.tasaDeRefresco}}</td>
                <td>
                    <span [routerLink]="['/editar-smartphone/',smartphone._id]">
                        <button type="button" class="btn-custom btn-editar">Editar</button>
                    </span>
                </td>
                <td>
                    <span (click)="eliminarSmartphone(smartphone,i)">
                        <button type="button" class="btn-custom btn-eliminar">Eliminar</button>
                    </span>
                </td>
                </tr>
                
    
            </tbody>
        </table>
    </div>
</div>