<div class="Container">
    <h2>Smartphones</h2>
    <p *ngIf="smartphones.length <= 0" class="text-center"> 
        No hay Smartphones
    </p>
    <table *ngIf="smartphones.length > 0" class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Marca</th>
                <th scope="col">Módelo</th>
                <th scope="col">Color</th>
                <th scope="col">memoria RAM</th>
                <th scope="col">Almacenamiento</th>
                <th scope="col">Sistema Operativo</th>
                <th scope="col">Procesador</th>
                <th scope="col">Tada de Refresco</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let smartphone of smartphones; let i = index">

            <td>{{smartphone._id}}</td>
            <td>{{smartphone.nombre}}</td>
            <td>{{smartphone.marca}}</td>
            <td>{{smartphone.modelo}}</td>
            <td>{{smartphone.color}}</td>
            <td>{{smartphone.memoriaRAM}}</td>
            <td>{{smartphone.almacenamiento}}</td>
            <td>{{smartphone.sistemaOperativo}}</td>
            <td>{{smartphone.procesador}}</td>
            <td>{{smartphone.tasaDeRefresco}}</td>
            <td>
                <span [routerLink]="['/update-smarthphone/',smartphone._id]">
                    <button type="button" class="btn btn-warning btn-sm">Editar</button>
                </span>
            </td>
            <td>
                <span (click)="eliminarSmartphone(smartphone,i)">
                    <button type="button" class="btn btn-danger btn-sm">Eliminar</button>
                </span>
            </td>
            </tr>
            

        </tbody>
    </table>
</div>